<a href="https://colab.research.google.com/github/410550387/Introduction-to-Computers/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
scores = [85,79,93]
list8 = ["國文成績:","數學成績:","英文成績:"]
for i in range(len(scores)):
   print(list8[i],"%d分"%scores[i])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [9]:
name=["Tom","Mary","Tony"]
number=[1,2,3]
for a in range(len(name)):
  print("編號:",number[a],"姓名:",name[a])

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony